<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaoxi.user.dao.UserDAO" >

    <resultMap id="userResultMap" type="com.gaoxi.entity.user.UserEntity">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="phone" column="phone"/>
        <result property="mail" column="mail"/>
        <result property="licencePic" column="licence_pic"/>
        <result property="registerTime" column="register_time"/>
        <result property="registerTime" column="register_time"/>
        <!--<result property="userType" column="user_type"/>-->
        <!--<result property="userState" column="user_state"/>-->

        <association property="roleEntity" javaType="com.gaoxi.entity.user.RoleEntity">
            <result property="id" column="role_id"/>
            <result property="name" column="role_name"/>
            <result property="desc" column="role_desc"/>

            <collection property="permissionList" ofType="com.gaoxi.entity.user.PermissionEntity">
                <result property="id" column="permission_id"/>
                <result property="permission" column="permission"/>
                <result property="desc" column="desc"/>
            </collection>
        </association>
    </resultMap>


    <update id="batchUpdateUserState">
        UPDATE sys_user
        set  user_state = #{userStateCode}
        where id in
        <foreach collection="userIdList"
                 index="index"
                 item="userId"
                 separator=","
                 open="(" close=")">
            #{userId}
        </foreach>
    </update>

    <delete id="deleteRole">
      DELETE FROM sys_role WHERE id = #{roleId}
    </delete>

    <delete id="deleteRolePermission">
        DELETE FROM sys_role_permission WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteRoleMenu">
        DELETE FROM sys_role_menu WHERE role_id = #{roleId}
    </delete>


    <select id="findUsers" resultMap="userResultMap">
      SELECT user.id as id, username, phone, mail, licence_pic, register_time,
--             user_type, user_state,
              role.id as role_id,
              role.name as role_name,
              role.desc as role_desc,
              permission.id as permission_id,
              permission.permission as permission,
              permission.desc as permission_desc
      FROM
        sys_user as user
          LEFT JOIN
        sys_role as role
          ON
        user.role_id = role.id

          LEFT JOIN
        sys_role_permission as role_permission
          ON
        role_permission.role_id = role.id

          LEFT JOIN
        sys_permission as permission
          ON
        role_permission.permission_id = permission.id
    </select>


    <select id="findRoles" resultType="com.gaoxi.entity.user.RoleEntity">
      SELECT * FROM sys_role
    </select>

    <select id="findPermissions" resultType="com.gaoxi.entity.user.PermissionEntity">
      SELECT * FROM sys_permission
    </select>

    <select id="findMenus" resultType="com.gaoxi.entity.user.MenuEntity">
        SELECT * FROM sys_menu
    </select>


    <insert id="createUser">
        INSERT INTO sys_user (id,username,password,phone,mail,licence_pic,register_time,user_type,user_state)
        VALUES (#{id},#{username},#{password},#{phone},#{mail},#{licence_pic},#{registerTime},#{userTypeEnum.code},#{userStateEnum.code})
    </insert>

    <insert id="insertRoleMenu">
        INSERT INTO sys_role_menu (role_id,menu_id)
        VALUES
        <foreach collection="roleMenuReq.menuIdList" item="menuId" index="index">
          (#{roleMenuReq.roleId},#{menuId})
        </foreach>
    </insert>

    <insert id="insertRolePermission">
        INSERT INTO sys_role_permission (role_id,permission_id)
        VALUES
        <foreach collection="rolePermissionReq.permissionIdList" item="permissionId" index="index">
            (#{rolePermissionReq.roleId},#{permissionId})
        </foreach>
    </insert>


</mapper>