<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>

        <typeAlias alias="UserEntity" type="com.gaoxi.entity.user.UserEntity" />
        <typeAlias alias="RoleEntity" type="com.gaoxi.entity.user.RoleEntity" />
        <typeAlias alias="PermissionEntity" type="com.gaoxi.entity.user.PermissionEntity" />

    </typeAliases>
</configuration>